# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
env/
venv/

# Environment Variables (Secrets)
.env

# IDEs
.vscode/
.idea/

# Project Data
data/temp/*
!data/temp/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep 

# Logs
*.log

# Temporary scripts
list_models.py
# Generated Reports
*.xlsx

# Debug Scripts
debug_*.py
tests/


# Testing
.pytest_cache/

